html
  head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js')
    script(src='/static/utils.js')
    script.
      window.filterValue = location.search.slice(1).split('&').filter(e=>e.startsWith('fleet='))[0].slice(6)
      window.filterKey = 'fleet'
    
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet')
    link(href='/static/map.css' rel='stylesheet')
  body
    h1 Bus #{fleet}

    if nowRunning
      h2 Now Running:
      p #{nowRunning.tripName}
      div(id='map' style='width: 100vw; height: 50vh;')
    else
      h2 Last Seen
      if Object.keys(byDays).length == 0
        p Never
      else
    
        - let lastTrip = Object.values(byDays).reduce((a, e) => a.concat(e), []).sort((a, b) => b.timestamp - a.timestamp)[0]
        - function pad2(data) { return [0, 0, ...data.toString()].slice(-2).join('') }
        p #{lastTrip.tripName} @ #{lastTrip.date}, #{pad2(Math.floor(lastTrip.time / 60))}:#{pad2(lastTrip.time % 60)}
    
    h2 Service history for bus #{fleet}
    for date in Object.keys(byDays)
      - services = byDays[date].map(trip => trip.service).sort((a, b) => a - b).join(', ')
      p #{date} #{services}
      
    script(src='/static/all.js')
