html
  body
    h1 Bus deployments for service #{service}
    h2 Now Active:
    h3 #{nowRunning.map(bus => bus.fleet).join(', ')}
    h2 Models now
    h3 #{nowRunning.map(bus => busList[bus.fleet].model).filter((e, i, a) => a.indexOf(e) === i).sort((a,b)=>a.length-b.length).join(', ')}
    h2 Bodyworks now
    h3 #{nowRunning.map(bus => busList[bus.fleet].bodywork).filter((e, i, a) => a.indexOf(e) === i).sort((a,b)=>a.length-b.length).join(', ')}
    
    for date in Object.keys(byDays)
      - buses = byDays[date].map(bus => bus.fleet).join(', ')
      p #{date} #{buses}
